<div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
  <div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container secondary-color">
      <h1 class="display-4">The Bachelors Guide</h1>
        <p class="lead">
          A collection of recipies, stories and reccomendations.
        </p>

        <a>
          <%= link_to home_index_path, class: "btn btn-lg custom-button" do %>
          Enter <span class="sr-only">(current)</span>
          <% end %>
        </a>

      </div>
    </div>
  </div>
