<div class="small-print fixed-bottom py-0">
  <div class="container ">
    <p><a href="mailto:nextbendev@gmail.com">Email me</a> | <a href="https://www.youtube.com/playlist?list=PLfij6dcHLiAejfQ3yXCshtOwxZ_z7Z4wt">Youtube</a> | <a href="https://www.gastronomic.online/coding-projects">GastroDev</a></p>
    <p>&copy; Gastronomic 2020 </p>
  </div>
</div>
